@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form method="post" asp-page-handler="Trigger500">
    <button type="submit" class="btn btn-primary">Trigger 500 Error</button>
</form>

<form method="post" asp-page-handler="Trigger404">
    <button type="submit" class="btn btn-primary">Trigger 404 Error</button>
</form>